
.img__container{
    /* position: relative; */

    background-color: white;
}
.card__wrapper {
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 510px; */
    min-height: 510px;
    width: 1000px;
    position: relative;
    z-index: 100000;
    /* overflow: hidden; */
}
.womanIllustration {
    position: absolute;
    /* position: relative; */
    height: 360px;
    width: 472px;
    /* margin-left: -80px; */
    left: -80px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    background: no-repeat center/100% url(./images/illustration-woman-online-desktop.svg);
    /* background-size: 100% 100%; */
}
.card__wrapper::before{
    content: "";
    position: absolute;
    width: 200px;
    height:  100%;
    left: -130px;
    top:41%;
    /* transform: translateY(-50%); */

    z-index: 40;
    background-image: url('./images/illustration-box-desktop.svg');
    background-repeat: no-repeat;
}
.bgPattern {
    position: absolute;
    left: -580px;
    /* height: 500px; */
    bottom: -140px;
    /* z-index: -10; */
}
.image__wrapper{
    position: relative;
    overflow: hidden;
    background-color: white;
    z-index: 5;
    height: 510px;
    flex-basis: 50%;
    border-radius: 20px;
}
.faq__section {
    /* width: 100%; */
    text-align: left;
    height: 100%;
    flex-basis: 50%;
    padding-right: 95px;
    /* margin: 80px 80px; */
}
.faq__section h1{
    margin-top: 60px;
    /* font-family: Arial, Helvetica, sans-serif!important; */
    font-size: 36px;
}